*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-image: url(../images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.formulario__perfil{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top:250px;
    left: 180px;
}

.formulario__perfil form{
    width: 100%;
    padding: 40px 20px 150px;
    background-color: white;
    position: absolute;
    border-radius: 20px;
}

.formulario__perfil form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.formulario__perfil form input,label{
    width: 100%;
    margin-top: 14px;
    padding: 10px;
    border: none;
    background-color: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.formulario__perfil form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.volver_inicio-button {
    position: absolute;
    left: 200px;
    bottom: -343px;
    padding: 10px 20px;
    background-color:  #46A2FD;
    border: 2px solid #fff;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

.volver_inicio:hover {
    background-color: #fff;
    color: #46A2FD;
}

.aceptar {
    position: absolute;
    left: 20px;
    bottom: 30px;
    padding: 10px 20px;
    background-color:  #46A2FD;
    border: 2px solid #fff;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;   
}

.foto{
    position: absolute;
      left: 20px;
      bottom: 90px;
      padding: 10px 20px;
      width: auto;  
      font-family: sans-serif;
  }
  